<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Development/IdeaProjects/AutomateTheInternet/src/test/java/tests/ABTest.java"><classes><class name="tests.ABTest"><methods><include name="getText"/></methods></class></classes></test></suite>